::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00368d;
    border-radius: 5px;
  }



  .custom-shape-divider-top-1713803907 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713803907 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1713803907 .shape-fill {
    fill: #FFFFFF;
}